.App{
    position:absolute;
    top: 3vw;
    left: 30vw
}
.boardRow{
    display:flex;
}
.lightSquare,
.darkSquare,
.imgPiece{
    height: 5vw;
    width: 5vw;
}
.lightSquare{
    background-color: rgb(228, 210, 131);
}
.darkSquare{
    background-color: rgb(68, 57, 9);
}
.selectedSquare{
    background-color:  rgba(93, 0, 155, 0.377);
}