*{
    margin: 0;
    padding: 0;
}
html{    
    background-color: #2B2B2B;
    overflow: hidden;
}
:root {
    --squareSize: 8.5vw;
    --navbarItemSizeX: 10vw;
    --navbarItemSizeY: 8.5vw;
}
@media (orientation:landscape) {
    :root {
        --squareSize: 8.5vh;
        --navbarItemSizeX: 10vh;
        --navbarItemSizeY: 8.5vh;
    }
}
p, h1{
    color: white;
    font-size: calc(var(--navbarItemSizeY) - 250%);
}
.board-container {
    background-color: #1A1A1A;
    height: 100vh;
    width: calc(10 * var(--squareSize));
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.board-container-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boardRow{
    display:flex;
}
.lightSquare,
.darkSquare,
.imgPiece,
.promotionPopUpImg{
    height: var(--squareSize);
    width: var(--squareSize);
}
.lightSquare{
    background-color: #F9003A;
}
.darkSquare{
    background-color: #222222;
}
.selectedSquare{
    background-color:  rgba(93, 0, 155, 0.377);
}
.possibleMove{
    background-color: rgba(106, 255, 0, 0.392);
}
.promotionPopUp{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-top: 45vw;
    margin-left: auto; 
    margin-right: auto; 
    width: 20vw;
}
.promotionPopUpImg{
    background-color: rgb(83, 83, 83);
    border-radius: 100px;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 99vw;
    background-color: black;
    padding: 0 .5vw;
}
.navbar-items{
    margin: 0;
    font-size: calc(var(--navbarItemSizeY) - 250%);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hidden{
    visibility: hidden;
}
.navbar-item{
    height: var(--navbarItemSizeX);
    width: var(--navbarItemSizeY);
    display: flex;
    align-items: center;
    color: white;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    height: calc(var(--navbarItemSizeX) * 1.2);
    width: calc(var(--navbarItemSizeX) * 1.2);
    border: solid rgb(0, 0, 0) 0.1em;
    margin: 1vw;
}
.container {
    display: inline-block;
    cursor: pointer;
}  
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 6px 0;
transition: 0.4s;
}  
.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}  
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}