*{
    margin: 0;
    padding: 0;
}
html{    
    background-color: #210070;
}

:root {
    --squareSize: 9vw;
    --navbarItemSizeX: 10vw;
    --navbarItemSizeY: 8.5vw;
}
@media (orientation:landscape) {
    :root {
        --squareSize: 9vh;
        --navbarItemSizeX: 10vh;
        --navbarItemSizeY: 8.5vh;
    }
}

.board{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.boardRow{
    display:flex;
}
.lightSquare,
.darkSquare,
.imgPiece,
.promotionPopUpImg{
    height: var(--squareSize);
    width: var(--squareSize);
}
.lightSquare{
    background-color: rgb(228, 210, 131);
}
.darkSquare{
    background-color: rgb(68, 57, 9);
}
.selectedSquare{
    background-color:  rgba(93, 0, 155, 0.377);
}
.possibleMove{
    background-color: rgba(106, 255, 0, 0.392);
}
.promotionPopUp{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-top: 45vw;
    margin-left: auto; 
    margin-right: auto; 
    width: 20vw;
}
.promotionPopUpImg{
    background-color: rgb(83, 83, 83);
    border-radius: 100px;
}

.navbar{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--navbarItemSizeY);
    text-align: center;
}

.navbarItem{
    height: var(--navbarItemSizeX);
    width: var(--navbarItemSizeY);
    background-color: #79D9C5;
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
    border: solid rgb(0, 0, 0) 0.04em;
}

.logo{
    height: calc(var(--navbarItemSizeX) * 1.2);
    width: calc(var(--navbarItemSizeX) * 1.2);
    border: solid rgb(0, 0, 0) 0.1em;
    margin: 1vw;
}