*{
    margin: 0;
    padding: 0;
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
html{    
    background-color: #2B2B2B;
}
:root {
    --squareSize: 8.5vw;
}
@media (orientation:landscape) {
    :root {
        --squareSize: 8.5vh;
    }
}
p, h1{
    color: white;
    font-size: 30px;
}
.board-container {
    background-color: #1A1A1A;
    height: 100vh;
    width: calc(10 * var(--squareSize));
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.board-container-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boardRow{
    display:flex;
}
.lightSquare,
.darkSquare,
.imgPiece,
.promotionPopUpImg{
    height: var(--squareSize);
    width: var(--squareSize);
}
.lightSquare{
    background: rgb(249,0,58);
    background: radial-gradient(circle, rgba(249,0,58,1) 0%, rgba(34,34,34,1) 100%);
}
.darkSquare{
    background: rgb(34,34,34);
background: radial-gradient(circle, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 100%);
}
.selectedSquare{
    background-color:  rgba(93, 0, 155, 0.3);
}
.possibleMove{
    background-color: rgba(54, 23, 95, 0.6);
}
.promotionPopUp{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-top: 45vw;
    margin-left: auto; 
    margin-right: auto; 
    width: 20vw;
}
.promotionPopUpImg{
    background-color: rgb(83, 83, 83);
    border-radius: 100px;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100vw;
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(70,70,70,1) 100%);
    padding: 0 .5vw;
}
.navbar-items{
    margin: 0;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}
.hidden{
    visibility: hidden;
}
.navbar-item{
    height: var(--navbarItemSizeX);
    width: var(--navbarItemSizeY);
    display: flex;
    align-items: center;
    color: white;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    height: 130px;
    border: solid rgb(0, 0, 0) 0.1em;
    margin: 1vw;
}
.container {
    display: inline-block;
    cursor: pointer;
    padding-right: 15px;
    transform: translateX(-3vw);
}  
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
transition: 0.4s;
}  
.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}  
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}
.spacer {
    width: 30px;
}

@media screen and (max-width: 950px) {
    h1, p, .bar1, .bar2, .bar3{
        display:none
    }
    .hidden {
        visibility: visible;
    }
    .navbar-item {
        font-size : .8em;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }
    .navbar-items {
        align-content: space-around;
    }
}
@media screen and (max-width: 450px) {
    .navbar-item {
        font-size : .6em;
    }
}